!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}
    %meta{ name: "keywords", content: "martial arts, kung fu, ninjutsu, self defence, fighting, mma, weapon defence, weaponary, karate, jujitsu, budo, bujinkan, , karate, boxing, self defence, kick boxing, ninjutsu, training, fitness, mma, wrestling, tai chi, bujikan, swindon, martial arts, bruce lee, defend, weapons, street fight, best defence, locks, throws, rolls, movement, ninja, technique, footwork, the art of distance, ground fighting, mental, confidence, jujitsu, budo, nine schools, black belt, belt, japanese, japan, flexibility, reduce stress, goal setting, learn discipline, adults, children, kids, bullying, anti bullying, stop bullies, class times, wiltshire, calne, sports, gallery, pics, videos, info, paul stubbs, , " }
    %meta{ name:"description", content: "Swindon Ninjutsu Dojo" }
    %title= current_page.data.title || 'Swindon Ninjutsu'
    = stylesheet_link_tag "site"
    = javascript_include_tag "site"
  %body{ class: page_classes }
    %nav.navbar.navbar-expand-md.navbar-light.main
      .container
        %a.navbar-brand{ href: '/' }
          = image_tag 'bujinkan-logo-small-dark.png'
          Ninjutsu Swindon
        %button.navbar-toggler{ data: { toggle: 'collapse', target: '#main-nav' } }
          %span.navbar-toggler-icon

        #main-nav.collapse.navbar-collapse
          %ul.navbar-nav.mr-auto
            %li.nav-item
              %a.nav-link{ href: '/', class: nav_is_active?('/') } Home
            %li.nav-item
              %a.nav-link{ href: '/what-is-ninjutsu', class: nav_is_active?('/what-is-ninjutsu/') } What is ninjutsu?
            %li.nav-item
              %a.nav-link{ href: '/why-ninjutsu', class: nav_is_active?('/why-ninjutsu/') } Why ninjutsu?
            -# %li.nav-item
            -#   %a.nav-link{ href: '/ninjutsu', class: nav_is_active?('/ninjutsu/') } Ninjutsu
            %li.nav-item
              %a.nav-link{ href: '/instructors', class: nav_is_active?('/instructors/') } Instructors
            %li.nav-item
              %a.nav-link{ href: '/dojo', class: nav_is_active?('/dojo/') } Dojo
            - if blog.articles.any?
              %li.nav-item
                %a.nav-link{ href: '/blog', class: "#{nav_is_active?('/blog/') || is_blog_article? ? 'active' : nil}" } Blog
            %li.nav-item
              %a.nav-link{ href: '/gallery', class: nav_is_active?('/gallery/') } Gallery

    -# - if current_page.data.background
    -#   .background-lg{ style: "background-image: url(/images/#{current_page.data.background}); #{current_page.data.background_style}" }

    .content{ class: "#{current_page.data.background && 'has-background'}", style: "background-image: url(/images/#{current_page.data.background});" }
      .container
        - if current_page.data.heading
          %h1
            = current_page.data.heading
            - if current_page.data.subheading
              %small.text-muted= current_page.data.subheading

        = yield

        - if is_blog_article?
          %nav
            %ul.pagination.justify-content-center
              - if current_article.article_previous
                %li.page-item
                  = link_to current_article.article_previous, class: 'page-link' do
                    %i.icon-caret-left
                    = current_article.article_previous.title
              - if current_article.article_next
                %li.page-item
                  = link_to current_article.article_next, class: 'page-link' do
                    = current_article.article_next.title
                    %i.icon-caret-right

    - if current_page.data.quote
      .quotes
        .container
          %blockquote.text-light
            %p.lead= current_page.data.quote.text
            %footer.blockquote-footer= current_page.data.quote.by

    - if !is_blog_article? and blog.articles.any? and !nav_is_active?('/blog/')
      - article = blog.articles.first
      .latest-article{ style: "background-image: url('/images/#{article.data.background}')", class: article.data.background ? 'with-background' : nil }
        .container
          .card.text-white
            -# = image_tag(article.data.background, class: 'card-img') if article.data.background
            -# %div{ class: article.data.background ? 'card-img-overlay' : 'card-body' }
            .card-body
              %h4.card-title= article.title
              %h6.card-subtitle{ class: article.data.background ? 'text-white' : 'text-muted' }
                %i.icon-calendar
                = article.date.strftime('%b %e')
              %p.card-text= article.data.summary
              %p.card-text= link_to 'Read more', article, class: article.data.background ? 'text-muted' : nil

    %footer.last
      .container
        .row.align-items-center.mb-4
          .col-lg-12
            .card-deck
              .card
                .card-header Contact us
                .card-body

                  :markdown

                    To talk to one of the team or to ask about the free introductory lesson you can:

                    Email us at <mailto:hello@ninjutsuswindon.co.uk>

                  .social-links
                    %a{ href: '#' }
                      %i.icon-facebook
                    %a{ href: '#' }
                      %i.icon-twitter
                    %a{ href: '#' }
                      %i.icon-insta

              .card
                .card-header Find us
                = image_tag 'map.jpg', class: 'card-img-top'
                .card-body
                  %ul.list-unstyled
                    %li Unit 55 BSS House
                    %li Cheney Manor Industrial Estate
                    %li Swindon SN2 2PJ

              .card
                .card-header Class times
                .card-body
                  %dl.row
                    %dt.col-sm-6 Monday
                    %dd.col-sm-6 7pm to 8pm
                    %dt.col-sm-6 Tuesday
                    %dd.col-sm-6 6:15pm to 8pm
                    %dt.col-sm-6 Wednesday
                    %dd.col-sm-6 7pm to 8pm
                    %dt.col-sm-6 Thursday
                    %dd.col-sm-6 6:15pm to 8pm

        .row.justify-content-end
          .col-lg-3
            = image_tag 'bujinkan-logo.png', class: 'logo-lg'
