---
pageable: true
per_page: 10
title: Blog
---
-# - if paginate && num_pages > 1
-#   %p Page #{page_number} of #{num_pages}

.card-columns
  - page_articles.each_with_index do |article, i|
    .card
      = link_to image_tag(article.data.background, class: 'card-img-top'), article
      .card-body
        %h4.card-title= article.title
        %p.card-text
          %small.text-muted
            %i.icon-calendar
            = article.date.strftime('%b %e')
        %p.card-text= article.data.summary
      .card-footer
        = link_to 'Read', article

- if paginate
  %nav
    %ul.pagination.justify-content-center
      - if prev_page
        %li.page-item= link_to '&#x25C0; Previous Page', prev_page, class: 'page-link'
      - if next_page
        %li.page-item= link_to 'Next Page &#x25BA;', next_page, class: 'page-link'
