---
title: Instructors
quote:
  text: It was the highest honour of my training. To be tested by the grand master in his own dojo. I passed and was awarded the rank of shidoshi - teacher of the warrior arts
  by: Shihan Paul Stubbs
---

%p Four very experienced and dedicated teachers of the art headed up by shihan Paul Stubbs. Paul has travelled many times to Japan to train with the Japanese masters. In 2003, he was recommended to take the Sakki test (the test of killing intention)

.card-deck
  .card.mb-4
    = thumb_tag 'paul.png', '500x500#', class: 'card-img-top', size: '250x250'
    .card-body
      %h4.card-title Shihan Paul Stubbs

      :markdown
        #### Black Belt 15th Dan Bujinkan Ninjutsu

        Paul Stubbs is a highly skilled instructor with vast experience and knowledge gained from teaching internationally to a wide and varied audience. Paul has taught and trained with members of various police and military units throughout his career.

        As Polarm International CQC Instructor 1, Paul is the special advisor to Polarm International.

        Paul is also knowledgeable about many other martial arts with a 1st Dan in Kung fu and a 1st Dan in Kickboxing.

  .card.mb-4
    = thumb_tag 'kevin.jpg', '500x500#', class: 'card-img-top', size: '250x250'
    .card-body
      %h4.card-title Kevin Anderson

      :markdown
        #### Black Belt 3rd Dan Bujinkan Ninjutsu

        Kevin has been training in the martial arts for over 40 years, spending 30 years training in Shotokan Karate. This has given him a wealth of experience in one of the hardest styles of art and a great insight into movement art and striking and kicking techniques.  

        He has spent the last fourteen years studying Ninjutsu under Paul Stubbs, extending his range of understanding to the subtler methods within this art. This combination of hard style and soft style is one of the greatest strengths he can teach you. He is the Senior Instructor within the club, under Chief Instructor Paul Stubbs
        
.card-deck
  .card.mb-4
    = thumb_tag 'simon-2.jpg', '500x500#', class: 'card-img-top', size: '500x500'
    .card-body
      %h4.card-title Simon Loeber-Hughes

      %p= lorem.sentences 2
      %p= lorem.sentences 2

  .card.mb-4
    .card-body
      %h4.card-title Ciarán Flynn

      :markdown

        #### Black Belt Bujinkan Ninjutsu

        Ciarán has been training at Swindon Ninjutsu for 6 years since becoming hooked after his first lesson. Ciarán started his martial arts career in Tae Kwon Do starting at the age of 10, having over 10 years of experience before moving on to other martial arts such as Kick Boxing and Krav Maga.  

        Ciarán is also a practitioner of Brazilian Jui Jutsu, developing the ground fighting and grappling aspect of his skill sets.  With this range of backgrounds, Ciarán bring a wide range of experience to his lessons and an strong understanding of the strengths and benefits of Ninjutsu.      
