---
title: Instructors
quote:
  text: It was the highest honour of my training. To be tested by the grand master in his own dojo. I passed and was awarded the rank of shidoshi - teacher of the warrior arts
  by: Shihan Paul Stubbs
---

%p Three very experienced and dedicated teachers of the art headed up by shihan Paul Stubbs. Paul has travelled many times to Japan to train with the Japanese masters. In 2003, he was recommended to take the Sakki test (the test of killing intention)

.card-deck
  .card
    = image_tag 'paul.png', class: 'card-img-top'
    .card-body
      %h4.card-title Shihan Paul Stubbs

      :markdown
        #### Black Belt 13th Dan Bujinkan Ninjutsu

        Paul Stubbs is a highly skilled instructor with vast experience and knowledge gained from teaching internationally to a wide and varied audience. Paul has taught and trained with members of various police and military units throughout his career.

        As Polarm International CQC Instructor 1, Paul is the special advisor to Polarm International.

        Paul is also knowledgeable about many other martial arts with a 1st Dan in Kung fu and a 1st Dan in Kickboxing.

  .card
    = image_tag 'kevin.jpg', class: 'card-img-top'
    .card-body
      %h4.card-title Kevin Anderson

      :markdown
        #### Black Belt 3rd Dan Bujinkan Ninjutsu

        Kevin is a highly experienced martial artist, Kevin holds a 2nd Dan in shotokan karate and has studied various different styles throughout his career. This knowledge and experience is invaluable in helping students growth and understanding.

  .card
    = image_tag 'http://via.placeholder.com/250x250', class: 'card-img-top'
    .card-body
      %h4.card-title Simon Loeber-Hughes

      %p= lorem.sentences 2
      %p= lorem.sentences 2
